
input {
    margin: 19px 30px;
    padding: 5px 10px;
}
.t1 {
    margin: 12px 8px;
}

button {
    margin: 19px 8%;
    padding: 6px 29px;
}
input {
    margin: 19px 30px;
    padding: 5px 10px;
    width: 16%;
}